// Fuentes
$fuente-principal: "Poppins",sans-serif;//'Outfit', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$xl_tablet: 992px;
$desktop: 1024px;
$xl_desktop: 1200px;
$xxl_desktop: 1440px;

// Colores
$azul: #007df4;
$azul1: #0da6f3;
$azul2: #3d72fc;
$azul3: #3564db;
$azulclaro: #eff2f7;
$sidebar1: #0c213a; 
$sidebar2: #064CDB;
$sidebar3: #30419b; //utilizado en el sidebar
//$secundario: #00c8c2;
$secundario: #0cdad3;
$blanco: #FFFFFF;
$blancoclaro: #ccc;
$gris: #64748B;
$grisclaro: #e1e1e1;
$griswhite: #F3F3F3;
$grisraton: #a5a5a5;
$grisoscuro: #585858;
$grisblack: #1E293B;
$backgroundheader: #333;
$background1: #2a2a2a; //seccion clara
$background2: #202020; //seccion mas oscuro
$backgroundmenu: #191919; //menu lateral
$negro: #111; //rectangulos
$negroblack: #000; //relleno del btn menulL en dispositivo pequeño



// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900